@charset "UTF-8";

@font-face {
  font-family: "FuturaPT";
  font-display: swap;
  src: url("../fonts/FuturaPT-Book.woff") format("woff"), url("../fonts/FuturaPT-Book.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Medium";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-Medium.woff") format("woff"), url("../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-Bold.woff") format("woff"), url("../fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

/* Обнуляющий стиль */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol li,
ul li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
  font-size: 14px;
  line-height: 1;
}

input,
button,
textarea {
  font-family: inherit;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.header_container {
  padding: 26px 0 0 0;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__btn {
  position: relative;
  padding: 12px 44px 12px 31px;
}

._no-webp .header__btn::after{
  background: url("../img/arrow-btn.png") 0 0 no-repeat; }

.header__btn::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  top: 17px;
  right: 7px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  font-family: FuturaPT;
  font-size: 16px;
  line-height: 21px;
  color: #00293F;
  margin: 0px 40px 0px 0px;
}

.nav__item a:visited {
  color: #00293F;
}

.nav__item a:hover {
  color: #70C851;
}

.nav__item :last-child {
  margin: 0 0 0 0;
}

.footer {
  padding: 47px 0 66px 0;
  border: 1px solid #DEE2E6;
}

.footer_link {
  font-family: Poppins;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #5A5A5A;
  margin: 0 0 17px 0;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__column:nth-child(1) {
  margin: 0 95px 0 0;
}

.footer__column:nth-child(2) {
  margin: 9px 131px 0 0;
}

.footer__column:nth-child(3) {
  margin: 9px 186px 0 0;
}

.footer__column:nth-child(4) {
  margin: 9px 0 0 0;
}

.footer__logo {
  height: auto;
  width: 100%;
  max-width: 140px;
  margin: 0 0 20px 0;
}

.footer__slogan {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #5A5A5A;
  max-width: 190px;
  margin: 0 0 22px 0;
}

.footer__btn {
  position: relative;
  padding: 12px 44px 12px 31px;
}

._no-webp .footer__btn::after{
  background: url("../img/arrow-btn.png") 0 0 no-repeat; }

.footer__btn::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  top: 17px;
  right: 7px;
}

.footer__title {
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #5A5A5A;
  margin: 0 0 20px 0;
}

/* -------------- */

.wrapper {
  min-height: 100%;
  overflow: hidden;
  background-color: #E5E5E5;
}

/* -------------- */

._container {
  max-width: 1110px;
  margin: 0px auto;
}

.btn {
  display: inline-block;
  font-family: Gilroy;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background-color: #70C851;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover {
  font-size: 16px;
  color: #b6e5f8;
  text-decoration: underline;
}

.title {
  font-family: Poppins;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: #00293F;
}

.development__container {
  margin: 143px auto 171px auto;
}

.development__title {
  font-family: Poppins;
  font-weight: 800;
  font-size: 40px;
  line-height: 60px;
  color: #182C51;
  margin: 0 0 27px 0;
}

.development__subtitle {
  font-family: Poppins;
  font-size: 40px;
  line-height: 60px;
  color: #182C51;
  margin: 0 0 51px 0;
}

.development__btn {
  line-height: 24px;
  -webkit-filter: drop-shadow(0px 1px 20px rgba(121, 193, 95, 0.45));
          filter: drop-shadow(0px 1px 20px rgba(121, 193, 95, 0.45));
  padding: 13px 44px;
}

.development-services {
  background-color: #dfdfdf;
}

.development-services__row {
  padding: 68px 0 83px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.development-services__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 540px;
          flex: 0 1 540px;
  margin: 0 30px 0 0;
}

.development-services__column:last-child {
  margin: 0 0 0 0;
}

.development-services__image {
  height: auto;
  width: 100%;
  max-width: 540px;
  -webkit-filter: drop-shadow(0px 1px 50px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0px 1px 50px rgba(0, 0, 0, 0.2));
}

.development-services__text {
  font-family: Poppins;
  font-size: 16px;
  line-height: 24px;
  color: #5A5A5A;
}

.development-services__comment {
  position: relative;
  font-family: Poppins;
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #5A5A5A;
  padding: 0 0 0 24px;
  margin: 20px 0 29px 0;
}

.development-services__comment::before {
  content: '';
  width: 5px;
  height: 75px;
  background-color: #70C851;
  position: absolute;
  top: 0;
  left: 0;
}

.types-development__container {
  padding: 77px 0 180px 0;
}

.types-development__item {
  margin: 0 0 130px 0;
}

.types-development__item:last-child {
  margin: 0 0 0 0;
}

.types-development__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.types-development__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 540px;
          flex: 0 1 540px;
}

.types-development__column:nth-child(2n+1) {
  margin: 0 30px 0 0;
}

.types-development__title {
  margin: 30px 0 38px 0;
}

.types-development__text {
  font-family: Poppins;
  font-size: 16px;
  line-height: 24px;
  color: #5A5A5A;
  max-width: 518px;
}

.types-development__image {
  height: auto;
  width: 100%;
  max-width: 540px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.technologies {
  background-color: #E5E5E5;
}

.technologies__container {
  padding: 0 0 100px 0;
}

.technologies__title {
  margin: 0 0 79px 0;
}

.technologies__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 23px 0;
}

.technologies__row:last-child {
  margin: 0 0 0 0;
}

.technologies__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 160px;
          flex: 0 1 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 24px 0;
  margin: 0 30px 0 0;
}

.technologies__column:hover {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}

.technologies__column:last-child {
  margin: 0 0 0 0;
}

.technologies__image {
  padding: 0 56px;
  height: auto;
  width: 100%;
  max-width: 48px;
  margin: 0 0 15px 0;
}

.technologies__text {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #252B33;
  text-align: center;
}

.portfolio {
  background-color: #E5E5E5;
}

.portfolio__container {
  padding: 0 0 120px 0;
}

.portfolio__title {
  margin: 0 0 50px 0;
}

.portfolio__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 40px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio__row:last-child {
  margin: 0 0 0 0;
}

.portfolio__row_bottom-margin {
  margin: 0 0 45px 0;
}

.portfolio__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 350px;
          flex: 0 1 350px;
  margin: 0 30px 0 0;
}

.portfolio__column:last-child {
  margin: 0 0 0 0;
}

.portfolio__img {
  height: auto;
  width: 100%;
  max-width: 350px;
}

.portfolio__category-title {
  margin: 12px 0px 12px 0;
  font-family: Poppins;
  font-size: 14px;
  line-height: 21px;
  color: #B3B3B3;
}

.portfolio__text {
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #00293F;
}

.portfolio__link {
  padding: 13px 44px;
  -webkit-filter: drop-shadow(0px 1px 20px rgba(121, 193, 95, 0.45));
          filter: drop-shadow(0px 1px 20px rgba(121, 193, 95, 0.45));
}

.testimonials {
  background-color: #E5E5E5;
}

.testimonials__container {
  padding: 0 0 120px 0;
}

.testimonials__title {
  margin: 0 0 50px 0;
}

.testimonials__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testimonials__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testimonials__image {
  height: auto;
  width: 100%;
  max-width: 240px;
}

.testimonials__reviews {
  margin: 0 30px 0 0;
}

.testimonials__reviews:last-child {
  margin: 0 0 0 0;
}

.reviews {
  background-color: #FFFFFF;
  padding: 18px 18px 0 23px;
}

.reviews__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__name {
  margin: 0 0 5px 0;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #00293F;
}

.reviews__position {
  margin: 0 0 15px 0;
  font-family: Poppins;
  font-size: 14px;
  line-height: 21px;
  color: #B3B3B3;
}

.reviews__tweeter {
  margin: 0 20px 0 0;
}

.reviews__text {
  max-width: 290px;
  font-family: Poppins;
  font-size: 16px;
  line-height: 24px;
  color: #5A5A5A;
}

.get-in-touch__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px;
}

.get-in-touch__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 610px;
          flex: 0 1 610px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 10px;
}

.get-in-touch__column:nth-child(2) {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 480px;
          flex: 0 1 480px;
}

.get-in-touch__text {
  font-family: Poppins;
  font-size: 16px;
  line-height: 24px;
  color: #5A5A5A;
  margin: 0 0 83px 0;
}

.get-in-touch__image {
  height: auto;
  width: 100%;
  max-width: 460px;
}

.item-get-in-touch__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-get-in-touch__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0 0 25px 0;
}

.item-get-in-touch__text {
  max-width: 255px;
  font-family: Poppins;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin: 0 0 0 20px;
}

._webp .header__btn::after{ background: url(../img/arrow-btn.webp) 0 0 no-repeat; }

._webp .footer__btn::after{ background: url(../img/arrow-btn.webp) 0 0 no-repeat; }